$white: #ffffff;
$bg: #ffffff;
$primary: #2196F3;
$secondary: #66bb6a;



$light-bg: #ffffff;        // Cor de fundo do modo claro
$light-text: #333333;     // Cor do texto no modo claro
$light-primary: #2196F3;  // Cor primária no modo claro
$light-secondary: #66bb6a; // Cor secundária no modo claro
$light-accent: #ff9800;   // Cor de destaque no modo claro
$light-error: #f44336;    // Cor de erro no modo claro
$light-success: #4caf50;  // Cor de sucesso no modo claro


$light-list-bg: #f5f5f5; // Cor de fundo para listas em modo claro
// Cores para o modo light
$light-input-bg: #f9f9f9; // Cor de fundo clara para inputs no modo light
$light-input-text: #333; // Cor do texto para inputs no modo light

$light-bg-progress-container: #e8e8e8;
$light-bg-progress-bar: $light-success;



$dark-bg: #333333;        // Cor de fundo do modo escuro
$dark-text: #ffffff;      // Cor do texto no modo escuro
$dark-primary: #42a5f5;  // Cor primária no modo escuro
$dark-secondary: #66bb6a; // Cor secundária no modo escuro
$dark-accent: #ff9800;   // Cor de destaque no modo escuro
$dark-error: #f44336;    // Cor de erro no modo escuro
$dark-success: #4caf50;  // Cor de sucesso no modo escuro



$dark-list-bg: #222222; // Cor de fundo para listas em modo escuro
// Cores para o modo dark
$dark-input-bg: #444; // Cor de fundo escura para inputs no modo dark
$dark-input-text: #fff; // Cor do texto para inputs no modo dark


$dark-bg-progress-container: #444;
$dark-bg-progress-bar: $light-success;
